<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Healthy Grow</title>
    <link rel="stylesheet" href="feelback.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-h-plus-plus icon'></i>
            <div class="logo_name">Healthy Grow</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
          
         <li>
                <a href="/instrution">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Instruction</span>
                </a>
                <span class="tooltip">Instruction</span>
            </li>
           
           
            <li>
                <a href="/annuncement">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Announcements</span>
                </a>
                <span class="tooltip">Announcements</span>
            </li>
            <li>
                <a href="/mylearing">
                    <i class='bx bx-cart-alt'></i>
                    <span class="links_name">My Learning</span>
                </a>
                <span class="tooltip">My Learning</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Feedback</span>
                </a>
                <span class="tooltip">Feedback</span>
            </li>
           
           
        </ul>
    </div>
   <section class="home-section">
   
 
    
    <div class="form-box"> 
        <div class="textup"> 
            <i class="fa fa-solid fa-clock"></i> 
            It only takes two minutes!! 
        </div> 
        <form> 
            <label for="uname"> 
                <i class="fa fa-solid fa-user"></i> 
                Name 
            </label> 
            <input type="text" id="uname" 
                   name="uname" required> 
  
            <label for="email"> 
                <i class="fa fa-solid fa-envelope"></i> 
                Email Address 
            </label> 
            <input type="email" id="email" 
                   name="email" required> 
  
            <label for="phone"> 
                <i class="fa-solid fa-phone"></i> 
                Phone No 
            </label> 
            <input type="tel" id="phone" 
                   name="phone" required> 
  
            <label> 
                <i class="fa-solid fa-face-smile"></i> 
                Do you satisfy with our service? 
            </label> 
            <div class="radio-group"> 
                <input type="radio" id="yes" 
                       name="satisfy" value="yes" checked> 
                <label for="yes">Yes</label> 
  
                <input type="radio" id="no" 
                       name="satisfy" value="no"> 
                <label for="no">No</label> 
            </div> 
  
            <label for="msg"> 
                <i class="fa-solid fa-comments" 
                   style="margin-right: 3px;"></i> 
                Write your Suggestions: 
            </label> 
            <textarea id="msg" name="msg" 
                      rows="4" cols="10" required> 
            </textarea> 
            <button type="submit"> 
                Submit 
            </button> 
        </form> 
    </div> 
</section>
   
    

    
        <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");
        closeBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();
        });
        searchBtn.addEventListener("click", ()=>{ 
            sidebar.classList.toggle("open");
            menuBtnChange();
        });
        function menuBtnChange() {
            if(sidebar.classList.contains("open")){
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            }else {
                closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
            }
        }
    </script>
</body>
</html>